.Rproj.user
.Rhistory
.RData
.Ruserdata
.RdataTmp
*.zip
world/*
zip_out/*
0008106-240229165702484.csv
legume_range_traits.csv
legume_data/occurrence_data/
wc2.1_30s_bio
shapefiles.csv
legume_range_polygons_data.rds
all_matches.tsv
dl_keys_1.csv
dl_spname.csv
duplicatenames.csv
gbif_occ_count_1.csv
gbif_taxon_keys_1.csv
inv_dat_by_species_full_interp_w_uses_merged.csv
legume_pol.shp
legume_pol_shape
overlayingrasterandpointdata.R
running_coordinatecleaner.R
legume_polygons.csv
allocc_clean.csv
dat_clean_b.csv
dat_clean_a.csv
dat_clean_cdef.csv
dat_clean_ghijk.csv
dat_clean_lmnop.csv
dat_clean_qrstuv.csv
dat_clean_wxyz.csv
finaldf_st_intersect.csv
